/* Estilos Generales*/
* {
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Colores*/

.color1 {
    background-color: #F2A0D5;
}
.color {
    background-color: #453159;
}
.color3 {
    background-color: #BE99F2;
}
.color4 {
    background-color: #91A646;
}
.color5 {
    background-color: #D98C5F;
}

/*Propiedades de Cajas*/

.caja2 {
    border: 2px #453159 solid;
    border-radius: 10px;
    box-shadow: 2px 2px;
}

/*Alturas*/

.alto {
    height: 300px;
}
.alto1 {
    height: 100px;
}
.alto3 {
    height: 200px;
}
